<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
</head>
<body>

<div class="container" align="left" >
  <h2>Airline Reservation System</h2>
  <form #userRef="ngForm" (ngSubmit)="checkUser(userRef.value)">
    <div class="form-group">
      <label for="username">User Name:</label>
     <input type="text" class="form-control" placeholder="Enter name" style="width: 300px" name="username" ngModel> 
    
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control"  placeholder="Enter password" style="width: 300px" name="password" ngModel>
    </div>
    
<div class="custom-control custom-radio">
    <input type="radio" class="custom-control-input" id="defaultUnchecked" value="admin" name="typeofuser" mdbInput ngModel>
    <label class="custom-control-label" for="defaultUnchecked">admin</label>
  </div>
  <div class="custom-control custom-radio">
    <input type="radio" class="custom-control-input" id="defaultChecked" value="passenger" name="typeofuser" checked mdbInput ngModel>
    <label class="custom-control-label" for="defaultChecked">passenger</label>
  </div>
    <div class="checkbox">
      <label><input type="checkbox" name="remember"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-info" >Login</button>&nbsp; &nbsp; OR &nbsp; &nbsp;
    <button type="submit" class="btn btn-info"  style='margin-right:16px'>Create New Account</button>

    
  </form>
 

</div>

</body>
</html>
